html, body, #root, .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.container {
    margin-top: 5em;
    flex-direction: column;
}

form > label {
    padding: 0px 5px 0px 5px;
   
}

#taskInput {
    margin-right: 1em;
    margin-left: 1em;
}

label {
    font-size: 1.1em;
}

li {
    list-style: none;
}






